<h2>Zarejestruj wojownika</h2>
<form action="/warrior" method="post">
    <label for="">
        Imię:<br>
        <input type="text" name="name" minlength="3" maxlength="50"><br>
    </label>
    <label for="">
        Siła:<br>
        <input type="number" name="power" value="1" min="1" max="7"><br>
    </label>
    <label for="">
        Obrona:<br>
        <input type="number" name="defence" value="1" min="1" max="7"><br>
    </label>
    <label for="">
        Wytrzymałość:<br>
        <input type="number" name="resilience" value="1" min="1" max="7"><br>
    </label>
    <label for="">
        Zwinność:<br>
        <input type="number" name="agility" value="1" min="1" max="7"><br>
    </label>
    <button type="submit">Zarejestruj</button>
</form>